[data-ani="fade-in"],
[data-ani="fade-up"],
[data-ani="fade-down"] {
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes el-up-center {
  0% {
    transform: translateX(-50%) translateY(136px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    transform: translateX(-50%) scale(0);
    ;
  }

  100% {
    transform: translateX(-50%) scale(1);
    ;
  }
}