//CONTENTS COLORS
$primary-1: #4C57F5;
$primary-2: #7F4CF5;

$primary-gra-v: linear-gradient(180deg, #4C57F5, #996EFF);
$primary-gra-h: linear-gradient(90deg, #4C57F5, #996EFF);

$secondary-1: #3B45D4;
$secondary-2: #636EFF;
$secondary-3: #6636D8;
$secondary-4: #996EFF;